:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1520px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
  border: 0;
  background: transparent;
}

button,
input {
  line-height: normal;
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}

.page {
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.site-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  max-width: 1449px;
  margin: 0 auto;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #365ED7;
  padding: 10px 18px;
  background: #FFFFFF;
  border: 2px solid rgba(114, 146, 242, 0.5019607843);
  border-radius: 15px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn:hover {
  color: #fff;
  background: #365ED7;
}

.btn-bg {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #fff;
  padding: 10px 18px;
  background: #FFFFFF;
  border: 2px solid transparent;
  background: #365ED7;
  border-radius: 15px;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.btn-bg:hover {
  background: #FFFFFF;
  color: #365ED7;
  border: 2px solid rgba(114, 146, 242, 0.5019607843);
}

.header {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  top: 0;
  z-index: 1000;
  background: #fff;
  padding: 20px 15px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  margin-right: 200px;
}
.header__menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__search {
  width: 100%;
  max-width: 834px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}
.header__search-label {
  width: 100%;
  position: relative;
  background: #F7F9FC;
  border-radius: 15px;
  padding: 12px 10px;
}
.header__search-label::before {
  content: "";
  background: url(../../img/svg/search.svg) no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 13px;
}
.header__search-btn {
  background: #304173;
  margin-left: 10px;
}
.header__search-input {
  width: 100%;
  max-width: 610px;
  font-weight: 400;
  font-size: 14px;
  color: #7A83A2;
  padding-left: 26px;
}
.header__search-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #7A83A2;
}
.header__search-input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #7A83A2;
}
.header__search-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #7A83A2;
}
.header__search-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #7A83A2;
}
.header__search-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  color: #7A83A2;
}
.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #29304B;
  margin-right: 30px;
}
.header__select {
  width: 100%;
  max-width: 279px;
  background: #FFFFFF;
  border-radius: 15px;
  border: 2px solid #EBEEF6;
  padding: 15px 12px;
  margin-right: 20px;
  position: relative;
}

.burger {
  display: none;
  z-index: 1000;
}

.menu--active {
  width: 320px;
  height: 100vh;
  display: block !important;
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 1000;
  background: #fff;
  padding: 30px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.menu--active .header__search,
.menu--active .header__select {
  margin-bottom: 20px;
}

.panels__menu-item {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.panels__menu-item:hover {
  background: #365ED7;
}
.panels__menu-item:hover a,
.panels__menu-item:hover span {
  color: #fff !important;
}
.panels__menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #7A83A2;
}
.panels__menu-btn img {
  margin-right: 30px;
}
.panels__menu-title {
  color: #29304B;
}
.panels__menu-arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #EBEEF7;
  border-radius: 10px;
  margin-right: 0;
  margin-left: auto;
}
.panels__menu-arrow--item {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.panels__menu-point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.panels__social {
  width: 100%;
  max-width: 350px;
  background: #F5F7FA;
  border: 1px solid #EBEEF7;
  border-radius: 30px;
  margin: 0 auto;
  padding: 22px;
}
.panels__social-descr {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #29304B;
  margin-bottom: 20px;
}
.panels__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

.panels__social-list {
  background: transparent;
}

main {
  padding-top: 110px;
}

.projectSection .btnb.open .panels__menu-arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.projectSection .btnb.open {
  color: #000;
}

.tabs__panel {
  display: none;
}

.tabs__panel--active {
  display: block;
}

.btnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #7A83A2;
  padding: 20px;
}
.btnb img {
  margin-right: 30px;
}
.btnb .panels__menu-arrow {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.page__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: var(--vh);
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #29304B;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #EBEEF7;
  border-radius: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.social-item {
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info {
  width: 100%;
  background: #f5f7fa;
  padding: 23px;
}

.services {
  padding: 20px 0 40px 0;
}
.services__title {
  margin-bottom: 10px;
}
.services__subtitle {
  font-size: 16px;
  line-height: 160%;
  color: #626983;
  margin-bottom: 15px;
}
.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 15px;
}
.services__items:last-child {
  margin-bottom: 0;
}
.services__itemms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  min-height: 223px;
  width: 100%;
  border: 2px solid #EBEEF7;
  border-radius: 30px;
  margin-right: 15px;
  background-color: #FFFFFF;
  position: relative;
  padding: 30px;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  cursor: pointer;
}
.services__item:hover {
  border: 2px solid #BAC1DA;
}
.services__item:hover .btn {
  background: #304173;
  color: #fff;
}
.services__item:hover::before {
  content: "";
  position: absolute;
  top: 24px;
  left: -5px;
  background: #E16446;
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 50px;
  width: 5px;
}
.services__item:last-child {
  margin-right: 0;
}
.services__item--ones {
  background-image: url(../img/services-1.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.services__item--twos {
  background-image: url(../img/services-2.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.services__item--card {
  width: 100%;
  background-color: #FFFFFF;
  background-position: right bottom !important;
}
.services__item-btn {
  color: #304173;
}
.services__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 110%;
  color: #29304B;
  margin-bottom: 20px;
}
.services__item-text {
  width: 100%;
  max-width: 350px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #626983;
  margin-bottom: 20px;
}
.services__item--one {
  background-image: url(../img/card-1.jpg);
  background-repeat: no-repeat;
}
.services__item--two {
  background-image: url(../img/card-2.jpg);
  background-repeat: no-repeat;
}
.services__item--thre {
  background-image: url(../img/card-3.jpg);
  background-repeat: no-repeat;
}
.services__item--four {
  background-image: url(../img/card-4.jpg);
  background-repeat: no-repeat;
}

.doctors {
  padding: 40px 0 20px 0;
}
.doctors__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}
.doctors__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.doctors__content {
  margin-bottom: 20px;
}
.doctors__item {
  width: 100%;
  max-width: 284px;
  background: #FFFFFF;
  border: 2px solid #EBEEF7;
  border-radius: 30px;
  padding: 15px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  display: block;
  margin: 0 auto;
}
.doctors__item:hover {
  border: 2px solid #BAC1DA;
}
.doctors__item:hover::before {
  content: "";
  position: absolute;
  top: 23px;
  left: -5px;
  background: #E16446;
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 50px;
  width: 5px;
}
.doctors__item-overtitle {
  font-size: 12px;
  line-height: 140%;
  color: #7A83A2;
  margin-bottom: 7px;
  margin-top: 15px;
}
.doctors__item-title {
  font-size: 16px;
  line-height: 160%;
  color: #29304B;
  font-weight: 700;
}
.doctors__item-img {
  width: 100%;
}
.doctors__slider-btn {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 2px solid #EBEEF7;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-right: 10px;
}
.doctors__slider-btn:last-child {
  margin-right: 0;
}
.doctors__slider-btn:hover {
  background: #304173;
  border: 2px solid transparent;
}
.doctors__slider-btn:hover .svg {
  fill: #fff;
  stroke: #fff;
}
.doctors__button {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.doctors__button-btn {
  display: inline-block;
}

.disease__title {
  margin-bottom: 20px;
}
.disease__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.disease__button-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.disease__button-item .btn-bg {
  border-radius: 15px 0px 0px 15px;
}
.disease__button-item .btn {
  border-radius: 0px 15px 15px 0px;
}
.disease__content {
  background: #FFFFFF;
  border-radius: 30px;
  padding: 20px;
}
.disease__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[4];
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 15px;
  background: #F7F9FC;
  border: 1px solid #EBEEF7;
  border-radius: 30px;
  padding: 20px;
}
.disease__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #EBEEF7;
  border-radius: 25px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  position: relative;
  padding: 12px;
}
.disease__item:hover {
  border: 2px solid #BAC1DA;
}
.disease__item:hover::before {
  content: "";
  position: absolute;
  top: 22px;
  left: -5px;
  background: #E16446;
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 35px;
  width: 5px;
}
.disease__item:hover .svg {
  fill: #fff;
  stroke: #fff;
}
.disease__item:hover .icon {
  background: #304173;
}
.disease__item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.disease__item-img {
  margin-right: 20px;
}
.disease__item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #29304B;
}
.disease__item-descr {
  font-size: 14px;
  line-height: 150%;
  color: #626983;
}

.faq {
  padding-bottom: 48px;
}
.faq__title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.faq__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.faq__nav {
  width: 30%;
  display: block;
  background: #FFFFFF;
  border-radius: 20px;
  margin-right: 35px;
}
.faq__nav-item {
  position: relative;
  margin-bottom: 10px;
}
.faq__nav-item:last-child {
  margin-bottom: 0;
}
.faq__nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #29304B;
  border: 2px solid transparent;
  text-align: left;
  padding: 14px 20px 14px 20px;
  -webkit-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  position: relative;
}
.faq__nav-btn:hover {
  border: 2px solid #BAC1DA;
  border-radius: 20px;
}
.faq__nav-btn:hover::before {
  content: "";
  position: absolute;
  top: 14px;
  left: -5px;
  background: #E16446;
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 35px;
  width: 5px;
}
.faq__nav-span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 34px;
  height: 34px;
  border: 2px solid rgba(114, 146, 242, 0.5019607843);
  border-radius: 50%;
  margin-right: 20px;
}
.faq__info {
  width: 70%;
}
.faq__info-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #29304B;
  margin-bottom: 20px;
}
.faq__info-content {
  background: rgba(247, 249, 252, 0.5);
  border: 2px solid #7A83A2;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}
.faq__info-text {
  display: block;
  font-size: 14px;
  line-height: 150%;
  color: #29304B;
  margin-bottom: 15px;
}
.faq__info-line {
  display: block;
  width: 100%;
  border-bottom: 1px dashed #626983;
  margin-bottom: 15px;
}
.faq__info-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #29304B;
  margin-bottom: 8px;
}
.faq__info-item {
  font-size: 12px;
  line-height: 140%;
  color: #29304B;
  margin-bottom: 10px;
}
.faq__info-item:last-child {
  margin-bottom: 0;
}
.faq .tabs__nav-btn--active {
  background-color: transparent;
  color: #29304B;
  border: 2px solid #BAC1DA;
  border-radius: 20px;
}
.faq .tabs__nav-btn--active .faq__nav-span {
  background: #304173;
}
.faq .tabs__nav-btn--active .svg {
  fill: #fff;
}
.faq .tabs__nav-btn--active::before {
  content: "";
  position: absolute;
  top: 14px;
  left: -5px;
  background: #E16446;
  border-radius: 0px 5px 5px 0px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 35px;
  width: 5px;
}
.faq__button {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.faq__button-btn {
  display: inline-block;
}

.mails {
  background: url(../img/mails-bg.jpg) no-repeat center/cover;
  padding: 33px 33px 33px 70px;
}
.mails__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #29304B;
  margin-bottom: 20px;
}
.mails__descr {
  width: 100%;
  max-width: 424px;
  font-size: 16px;
  line-height: 140%;
  color: #29304B;
  margin-bottom: 20px;
}
.mails__form {
  width: 100%;
  max-width: 650px;
}
.mails__form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.mails__form-input {
  width: 100%;
  max-width: 400px;
  height: 45px;
  background: #F7F9FC;
  border-radius: 15px 0px 0px 15px;
  font-size: 14px;
  line-height: 150%;
  color: #8C9BC0;
  padding-left: 15px;
}
.mails__form-input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #8C9BC0;
}
.mails__form-input::-moz-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #8C9BC0;
}
.mails__form-input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #8C9BC0;
}
.mails__form-input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #8C9BC0;
}
.mails__form-input::placeholder {
  font-size: 14px;
  line-height: 150%;
  color: #8C9BC0;
}
.mails__form-btn {
  width: 100%;
  max-width: 155px;
  height: 45px;
  background: #304173;
  border-radius: 0px 15px 15px 0px;
}

.footer {
  padding-top: 90px;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #29304B;
  margin-right: 30px;
}
.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__services {
  width: 100%;
  max-width: 260px;
}
.footer__services-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #2C405A;
  margin-bottom: 15px;
}
.footer__services-descr {
  font-size: 14px;
  line-height: 140%;
  color: #626983;
  margin-bottom: 15px;
}
.footer__services-phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  color: #29304B;
  margin-bottom: 5px;
}
.footer__services-mail {
  font-size: 14px;
  line-height: 140%;
  color: #29304B;
}
.footer__nav {
  width: 100%;
  max-width: 200px;
  border-right: 1px solid #EBEEF7;
}
.footer__nav-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 160%;
  color: #2C405A;
  margin-bottom: 30px;
}
.footer__nav-list {
  padding-left: 10px;
}
.footer__nav-item {
  margin-bottom: 24px;
}
.footer__nav-item:last-child {
  margin-bottom: 0;
}
.footer__nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 150%;
  color: #626983;
}
.footer__nav-link span {
  margin-right: 10px;
}
.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 50px 0 20px 0;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #29304B;
  margin-right: 15px;
}
.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__social-item {
  margin-right: 10px;
}
.footer__social-item:last-child {
  margin-right: 0;
}
.footer__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer__information-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #29304B;
  margin-right: 40px;
}
.footer__information-link:last-child {
  margin-right: 0;
}
.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__copy-text {
  width: 50%;
  font-size: 12px;
  line-height: 140%;
  color: #7A83A2;
}

@media (max-width: 1850px) {
  .panels {
    display: none;
  }
  .info {
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .header__logo {
    margin-right: 20px;
  }
}
@media (max-width: 1024px) {
  .services__itemms {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[2];
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
  }
  .faq__nav {
    width: 40%;
  }
}
@media (max-width: 900px) {
  .header__menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .footer__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (2fr)[3];
    grid-template-columns: repeat(3, 2fr);
    gap: 10px;
  }
}
@media (max-width: 837px) {
  .disease__button {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .disease__button-item {
    margin-bottom: 10px;
  }
  .disease__button-btn {
    margin-bottom: 10px;
    font-size: 15px;
  }
}
@media (max-width: 830px) {
  .disease__items {
    -ms-grid-columns: (2fr)[3];
    grid-template-columns: repeat(3, 2fr);
  }
  .faq__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .faq__nav {
    width: 100%;
    margin-right: 0;
    height: 134px;
    overflow-x: hidden;
  }
  .faq__info {
    width: 100%;
  }
  .faq__button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .doctors__button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .disease__items {
    -ms-grid-columns: (8fr)[1];
    grid-template-columns: repeat(1, 8fr);
  }
  .mails {
    padding: 10px;
  }
  .footer__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (3fr)[2];
    grid-template-columns: repeat(2, 3fr);
    gap: 10px;
  }
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__social {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 25px;
  }
  .services__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer__top {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (3fr)[1];
    grid-template-columns: repeat(1, 3fr);
    gap: 10px;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }
}
@media (max-width: 576px) {
  .services__itemms {
    -ms-grid-columns: (4fr)[1];
    grid-template-columns: repeat(1, 4fr);
  }
  .services__items {
    -ms-grid-columns: (2fr)[1];
    grid-template-columns: repeat(1, 2fr);
    gap: 10px;
  }
  .services__item {
    margin-right: 0;
    padding: 15px;
  }
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer__copy-text {
    width: 100%;
  }
  .footer__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .footer__information-link {
    margin-right: 0;
  }
}
@media (max-width: 576px) and (max-width: 375px) {
  .disease__content {
    padding: 10px;
  }
  .disease__items {
    padding: 10px;
  }
}
.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.navbar-primary {
  background-color: #fff;
  bottom: 0px;
  left: 0px;
  top: 51px;
  width: 400px;
  height: 100vh;
  z-index: 8;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
  width: 80px;
}

.navbar-primary.collapsed .panels__menu-kinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
}

.navbar-primary.collapsed .panels__menu-arrow {
  display: none;
}

.navbar-primary.collapsed .glyphicon {
  margin-right: 0;
}

.navbar-primary.collapsed .panels__menu-arrow--item {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-primary.collapsed .panels__menu-svg {
  display: none;
}

.navbar-primary.collapsed .panels__social {
  display: none;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.navbar-primary.collapsed .panels__nav {
  margin-bottom: 450px;
}

.btn-expand-collapse {
  display: block;
  left: 0px;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  color: grey;
  font-size: 20px;
  text-align: center;
  background: #000;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  list-style: none;
}

.navbar-primary-menu .panels__menu-kinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  color: #29304B;
  background: #FFFFFF;
  height: 70px;
  margin-bottom: 4px;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-primary-menu .panels__menu-kinks:last-child {
  margin-bottom: 0;
  color: #7A83A1;
}
.navbar-primary-menu .panels__menu-kinks:hover {
  background: #365ED7;
  border-radius: 20px;
  color: #fff;
}
.navbar-primary-menu .panels__menu-kinks:hover .svg {
  stroke: #fff;
}

.panels__menu-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.glyphicon {
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */